#headerbox{
	height: 75px;
	width: 100%;
	margin: 0px auto;
	background-color: rgb(158,158,158);
	box-shadow: 0px 0px 0px 10px rgb(158,158,158);

}

#mainimg{
	float: left; 
	padding: 0px 25px;
}

#headerlist{
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
}

.headlist{
	float: right;
}

.headlist a{
	display: inline-block;
	color: white;
	text-align: center;
	padding: 7px 75px;
	text-decoration: none;
	font-family: "Agency FB", Arial, Helvetica, sans-serif;
	font-size: 150%;
}